{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/events-list.css' %}"> {% endcomment %}
{% endblock extra_css %}
{% block content %}
    <div class="border border-light p-3 bg-dark bg-gradient text-light mt-5">
        <h1>Login</h1>
        <br>
        <form action="" method="POST">
            {% csrf_token %}
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="text"
                           class="form-control"
                           name="username"
                           placeholder="Enter your Username"
                           autocomplete="false"
                           aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" 
                           class="form-control" 
                           name="password"
                           placeholder="Enter your Password"  
                           autocomplete="off">
                </div>
            <input type="submit" value="Submit" class="btn btn-secondary">
            <br>
            <p>If you are not signed up, you can <a class="btn btn-secondary" href="{% url 'register_user' %}">Register</a></p>
        </form>
    </div>
{% endblock content %}
